<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Corporattica</title>
	<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/slideshow.js"></script>
	<script type="text/javascript" src="js/cufon-yui.js"></script>
	<script type="text/javascript" src="js/Arial.font.js"></script>
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,h4,h5,#menu,#copy,.blog-date');
	</script>
	<script type="text/javascript" src="js/fancyzoom.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({scaleImg: true, closeOnClick: true});
		});
	</script>
	<link rel="stylesheet" href="css/main.css" type="text/css" />
</head>
<body>
	<div id="bg">
		<div class="wrap">
			
			<!-- logo -->
			<h1><a href="index.html">corporattica</a></h1>
			<!-- /logo -->
			
			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a class="current" href="index.html">Home</a></li>
					<li><a href="inner.html">Drop-Down Menu</a>
						<ul><li><a href="inner.html">Inner Page Example</a></li><li><a href="inner.html">Inner Page Example</a></li><li><a href="inner.html">Inner Page Example</a></li></ul>
					</li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<!-- /menu -->
			
			<!-- pitch -->
			<div id="pitch">
				<div id="slideshow">
					
					<!-- 1st frame -->
					<div class="active">
						<img src="images/pitch/pitch1.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Professional Approach</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- /1st frame -->
					
					<!-- 2nd frame -->
					<div>
						<img src="images/pitch/pitch2.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Precise Methods</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- /2nd frame -->
					
					<!-- 3rd frame -->
					<div>
						<img src="images/pitch/pitch3.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Mesurable Results</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- 3rd frame -->
					
				</div>
			</div>
			<!-- /pitch -->
			
			<!-- main -->
			<div id="main">
				<h2 class="inner">Blog</h2>
			<div id="page">
				
				<!-- blog post -->
				<div class="blog-post">
					<p class="blog-date"><span>14th</span><br />October</p>
					<div class="blog-body">
						<h3><a href="#">Hello World</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero laoreet facilisis. Aenean placerat, ligula quis placerat iaculis, mi magna luctus nibh, adipiscing pretium erat neque vitae augue. <a href="#">&raquo;</a></p>
					</div>
					<div class="clear"></div>
				</div>
				<!-- /blog post -->
				
				<!-- blog post -->
				<div class="blog-post">
					<p class="blog-date"><span>11th</span><br />October</p>
					<div class="blog-body">
						<h3><a href="#">Hello World</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero laoreet facilisis. Aenean placerat, ligula quis placerat iaculis, mi magna luctus nibh, adipiscing pretium erat neque vitae augue. <a href="#">&raquo;</a></p>
					</div>
					<div class="clear"></div>
				</div>
				<!-- /blog post -->
				
				<!-- blog post -->
				<div class="blog-post">
					<p class="blog-date"><span>7th</span><br />October</p>
					<div class="blog-body">
						<h3><a href="#">Hello World</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero laoreet facilisis. Aenean placerat, ligula quis placerat iaculis, mi magna luctus nibh, adipiscing pretium erat neque vitae augue. <a href="#">&raquo;</a></p>
					</div>
					<div class="clear"></div>
				</div>
				<!-- /blog post -->
				
			</div>
		
			</div>
			<!-- /main -->
			
			<!-- side -->
			<div id="side">
				<h4>Latest News</h4>
				
				<div class="news">
					<h5><a href="#">News title</a></h5>
					<p>Nunc commodo euismod massa quis vestibulum, proin mi nibh, dignissim.</p>
				</div>
				
				<div class="news">
					<h5><a href="#">News title</a></h5>
					<p>Nunc commodo euismod massa quis vestibulum, proin mi nibh, dignissim.</p>
				</div>
				
				<div class="news">
					<h5><a href="#">News title</a></h5>
					<p>Nunc commodo euismod massa quis vestibulum, proin mi nibh, dignissim.</p>
				</div>
				
				<div id="quote">
					<h4>Request a Free Quote</h4>
					<p>Phasellus diam sapien, fermentum a eleifend non, luctus non augue.</p>
				</div>

			</div>
			<!-- /side -->
		</div>
			
		<!-- footer -->
		<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- footer links -->
					<p id="footer_menu">
						<a href="#">Jobs @ corporattica</a>
						<a href="#">Press Releases</a>
						<a href="#">Terms and Conditions</a>
						
						<!-- credit link -->
						<a href="http://www.solucija.com" title="Free CSS Templates">Solucija</a>
					</p>
					<!-- /footer links -->
					
					<p id="copy">corporattica <span>professional approach</span></p>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- /footer -->
		
	</div>
</body>
</html>