<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Corporattica</title>
	<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/slideshow.js"></script>
	<script type="text/javascript" src="js/cufon-yui.js"></script>
	<script type="text/javascript" src="js/Arial.font.js"></script>
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,h4,h5,#menu,#copy,.blog-date');
	</script>
	<script type="text/javascript" src="js/fancyzoom.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({scaleImg: true, closeOnClick: true});
		});
	</script>
	<link rel="stylesheet" href="css/main.css" type="text/css" />
</head>
<body>
	<div id="bg">
		<div class="wrap">
			
			<!-- logo -->
			<h1><a href="index.html">corporattica</a></h1>
			<!-- /logo -->
			
			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a class="current" href="index.html">Home</a></li>
					<li><a href="inner.html">Drop-Down Menu</a>
						<ul><li><a href="inner.html">Inner Page Example</a></li><li><a href="inner.html">Inner Page Example</a></li><li><a href="inner.html">Inner Page Example</a></li></ul>
					</li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<!-- /menu -->
			
			<!-- pitch -->
			<div id="pitch">
				<div id="slideshow">
					
					<!-- 1st frame -->
					<div class="active">
						<img src="images/pitch/pitch1.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Professional Approach</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- /1st frame -->
					
					<!-- 2nd frame -->
					<div>
						<img src="images/pitch/pitch2.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Precise Methods</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- /2nd frame -->
					
					<!-- 3rd frame -->
					<div>
						<img src="images/pitch/pitch3.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Mesurable Results</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- 3rd frame -->
					
				</div>
			</div>
			<!-- /pitch -->
			
			<!-- main -->
			<div id="main">
				<div id="page">
					<h2 class="inner">Lorem Ipsum dolor sit amet</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero laoreet facilisis. Aenean placerat, ligula quis placerat iaculis, mi magna luctus nibh, <a href="#">adipiscing pretium erat neque vitae augue</a>. Quisque consectetur odio ut sem semper commodo. Maecenas iaculis leo a ligula euismod condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					
					<br />
					<h4>Table Example</h4>
					<br />
					<table class="table">
						<thead>
							<tr>
								<td>ID</td>
								<td>Row Title</td>
								<td>Row Description</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Lorem ipsum dolor sit amet</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr class="odd">
								<td>2</td>
								<td>Lorem ipsum dolor sit amet</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Lorem ipsum dolor sit amet</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr class="odd">
								<td>4</td>
								<td>Lorem ipsum dolor sit amet</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Lorem ipsum dolor sit amet</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
						</tbody>
					</table>
					
					<br />
					<h4>List Example</h4>
					<br />
					<ul>
						<li>lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						<li>lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						<li>lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						<li>lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
						<li>lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
					</ul>
					
					<br />
					<h4>Box Examples</h4>
					<br />
					
					<!-- half boxes -->
					<div class="half">
						<h4>Box</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero.</p>
					</div>
					<div class="half last">
						<h4>Box</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero.</p>
					</div>
					<!-- /half boxes -->
					
					<!-- third boxes -->
					<div class="third">
						<h4>Box</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero.</p>
					</div>
					<div class="third">
						<h4>Box</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero.</p>
					</div>
					<div class="third last">
						<h4>Box</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel lorem eu libero.</p>
					</div>
					<!-- /third boxes -->
					
					<div class="clear"></div>					
					
				</div>
			</div>
			<!-- /main -->
			
			<!-- side -->
			<div id="side">
				<h4>Menu Example</h4>
				
				<ul class="side-menu">
					<li><a href="#">side menu item</a></li>
					<li><a href="#">side menu item</a></li>
					<li><a href="#">side menu item</a></li>
					<li><a href="#">side menu item</a></li>
					<li><a href="#">side menu item</a></li>
				</ul>
				
			</div>
			<!-- /side -->
		</div>
			
		<!-- footer -->
		<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- footer links -->
					<p id="footer_menu">
						<a href="#">Jobs @ corporattica</a>
						<a href="#">Press Releases</a>
						<a href="#">Terms and Conditions</a>
						
						<!-- credit link -->
						<a href="http://www.solucija.com" title="Free CSS Templates">Solucija</a>
					</p>
					<!-- /footer links -->
					
					<p id="copy">corporattica <span>professional approach</span></p>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- /footer -->
		
	</div>
</body>
</html>