<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Corporattica</title>
	<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/slideshow.js"></script>
	<script type="text/javascript" src="js/cufon-yui.js"></script>
	<script type="text/javascript" src="js/Arial.font.js"></script>
	<script type="text/javascript">
		Cufon.replace('h1,h2,h3,h4,h5,#menu,#copy,.blog-date');
	</script>
	<script type="text/javascript" src="js/fancyzoom.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({directory: 'images/zoom', scaleImg: true, closeOnClick: true});
		});
	</script>
	<link rel="stylesheet" href="css/main.css" type="text/css" />
	<style type="text/css" media="screen">
		#large_box {width:800; height:600;}
	</style>
</head>
<body>
	<div id="bg">
		<div class="wrap">
			
			<!-- logo -->
			<h1><a href="index.html">corporattica</a></h1>
			<!-- /logo -->
			
			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a class="current" href="index.html">Home</a></li>
					<li><a href="inner.html">Drop-Down Menu</a>
						<ul><li><a href="inner.html">Inner Page Example</a></li><li><a href="inner.html">Inner Page Example</a></li><li><a href="inner.html">Inner Page Example</a></li></ul>
					</li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<!-- /menu -->
			
			<!-- pitch -->
			<div id="pitch">
				<div id="slideshow">
					
					<!-- 1st frame -->
					<div class="active">
						<img src="images/pitch/pitch1.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Professional Approach</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- /1st frame -->
					
					<!-- 2nd frame -->
					<div>
						<img src="images/pitch/pitch2.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Precise Methods</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- /2nd frame -->
					
					<!-- 3rd frame -->
					<div>
						<img src="images/pitch/pitch3.jpg" alt="" />
						<div class="overlay transparent">
							<h2>Mesurable Results</h2>
							<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						</div>
						<p class="arrow"><a href="#"></a></p>
					</div>
					<!-- 3rd frame -->
					
				</div>
			</div>
			<!-- /pitch -->
			
			<!-- main -->
			<div id="main">
			
				<h2 class="inner">Portfolio</h2>
			
				<!-- portfolio bits -->
				<div id="bits">
				
					<div class="bit">
						<h4>Client Name</h4>
						<div class="photo">
							<a href="#p1"><img src="images/thumb1.png" alt="Thumb" /></a>
						</div>
						<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						<div id="p1">
							<img src="images/portfolio.jpg" alt="Portfolio #1" />
							<p>Project #1</p>
						</div>
					</div>
					
					<div class="bit">
						<h4>Client Name</h4>
						<div class="photo">
							<a href="#p2"><img src="images/thumb2.png" alt="Thumb" /></a>
						</div>
						<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						<div id="p2">
							<img src="images/portfolio.jpg" alt="Portfolio #2" />
							<p>Project #2</p>
						</div>
					</div>
					
					<div class="bit last">
						<h4>Client Name</h4>
						<div class="photo">
							<a href="#p3"><img src="images/thumb3.png" alt="Thumb" /></a>
						</div>
						<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						<div id="p3">
							<img src="images/portfolio.jpg" alt="Portfolio #3" />
							<p>Project #3</p>
						</div>
					</div>
					
					<div class="line"></div>
					
					<div class="bit">
						<h4>Client Name</h4>
						<div class="photo">
							<a href="#p4"><img src="images/thumb1.png" alt="Thumb" /></a>
						</div>
						<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						<div id="p4">
							<img src="images/portfolio.jpg" alt="Portfolio #4" />
							<p>Project #4</p>
						</div>
					</div>
					
					<div class="bit">
						<h4>Client Name</h4>
						<div class="photo">
							<a href="#p5"><img src="images/thumb2.png" alt="Thumb" /></a>
						</div>
						<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						<div id="p5">
							<img src="images/portfolio.jpg" alt="Portfolio #5" />
							<p>Project #5</p>
						</div>
					</div>
					
					<div class="bit last">
						<h4>Client Name</h4>
						<div class="photo">
							<a href="#p6"><img src="images/thumb3.png" alt="Thumb" /></a>
						</div>
						<p>Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
						<div id="p6">
							<img src="images/portfolio.jpg" alt="Portfolio #6" />
							<p>Project #6</p>
						</div>
					</div>
					
					<div class="clear"></div>
				</div>
				<!-- /portfolio bits -->
					
			</div>
			<!-- /main -->
			
			<!-- side -->
			<div id="side">
				
				<div id="quote">
					<h4>Request a Free Quote</h4>
					<p>Phasellus diam sapien, fermentum a eleifend non, luctus non augue. Quisque scelerisque purus quis eros sollicitudin gravida. Aliquam erat volutpat. Donec a sem consequat tortor posuere dignissim sit amet at ipsum.</p>
				</div>

			</div>
			<!-- /side -->
		</div>
			
		<!-- footer -->
		<div id="footer">
			<div id="footerbg">
				<div class="wrap">
				
					<!-- footer links -->
					<p id="footer_menu">
						<a href="#">Jobs @ corporattica</a>
						<a href="#">Press Releases</a>
						<a href="#">Terms and Conditions</a>
						
						<!-- credit link -->
						<a href="http://www.solucija.com" title="Free CSS Templates">Solucija</a>
					</p>
					<!-- /footer links -->
					
					<p id="copy">corporattica <span>professional approach</span></p>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- /footer -->
		
	</div>
</body>
</html>